@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: #070505;
  --secondary-color: #86A7DF;
  --secondary-color-dark: #5482d2;
}

/* Custom styles for the search icon */
.form-search-icon {
  position: absolute;
  left: 0.75rem;
  /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  /* Adjust as needed */
}


@layer base {
  .font-inter {
    font-family: 'Inter', sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/inter-var-latin.woff2') format('woff2');
}

body {
  background-color: var(--background-color);
  color: #FFFFFF;
  width: 100%;
}

.navbar {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-color);
  color: white;
}

.logo-container img {
  height: 3rem;
  width: auto;
}

/* Navigation Links */
.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  flex-direction: row;
}

.navbar .nav-links li {
  margin-right: 15px;
}

.navbar .nav-links a {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar .nav-links a:hover {
  background-color: var(--secondary-color-dark);
}

.navbar .nav-links a.bg-secondary-color-dark {
  background-color: var(--secondary-color-dark);
  text-decoration: underline;
}

/* Background picture */
.home-background-pic h2 {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3.5rem;
  font-size: 2.25rem;
  z-index: 10;
}

.home-background-pic img {
  width: 100%;
  height: auto;
}


/* Footer */
footer {
  background-color: var(--secondary-color);
  color: var(--background-color);
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.contact {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.links a:hover,
.contact p:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .navbar .nav-links {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    /* Ensure links take full width */
  }

  .navbar .nav-links li {
    margin-right: 0;
    /* Remove margin-right */
    width: 100%;
    /* Make each list item take full width */
  }

  .navbar .nav-links a {
    display: block;
    /* Change display to block to take full width */
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .navbar .nav-links a:hover {
    background-color: var(--secondary-color-dark);
  }

  .home-background-pic h2 {
    display: none;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}