@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: #070505;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

  }
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/inter-var-latin.woff2') format('woff2');
}

body {
  background-color: var(--background-color);
  color: #FFFFFF;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.logo-container img {
  height: 2rem;
  width: 2rem;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li {
  margin-bottom: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}


h2 {
  font-family: 'Pacifico', cursive;
}


nav {
  background-color: var(--background-color);
  font-size: 27px;
}

.home-background-pic {
  position: relative;
}

.h2-center {
  color: white;
  padding: 14px;
  text-align: center;
}

li {
  border-color: #FFFFFF;
  border: #FFFFFF;
}

.home-background-pic {
  position: relative;
}

.home-background-pic h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3.5rem;
  font-size: 2.25rem;
  text-align: center;
  color: #fff;
  z-index: 10;
}

.home-background-pic img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  body {
    width: fit-content;
    margin: 0;
    overflow-x: hidden;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links {
    margin-top: 10px;
    flex-direction: column;
  }

  .home-background-pic h2 {
    display: none;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .image-text-container {
    margin: 10px;
  }

  .image-container,
  .text-container {
    padding: 5px;
    /* Adjust padding for smaller screens */
  }

  .text-container h2 {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  .text-container p {
    font-size: 0.9rem;
  }

  .image-text-container {
    margin: 10px;
    /* Adjust margin for smaller screens */
    display: flex;
    flex-direction: column;
  }

  .image-container,
  .text-container {
    padding: 5px;
    /* Adjust padding for smaller screens */
  }

  .text-container a {
    font-size: 1.2rem;
    /* Adjust font size for smaller screens */
    margin-bottom: 8px;
    /* Adjust margin for smaller screens */
  }

  .text-container p {
    font-size: 0.9rem;
    /* Adjust font size for smaller screens */
  }
}